[submodule "external/brainit-fmri"]
	path = external/brainit-fmri
	url = https://github.com/WeizmannVision/brainit-fmri.git
[submodule "ml-4m"]
	path = ml-4m
	url = https://github.com/liu-brandon/ml-4m-neural.git
