[submodule "external/ml-4m"]
	path = external/ml-4m
	url = https://github.com/apple/ml-4m.git
[submodule "external/Cho2026_Tokenizer"]
	path = external/Cho2026_Tokenizer
	url = https://github.com/OHBA-analysis/Cho2026_Tokenizer.git
